@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Handlee&display=swap');

:root {
    --font-acme: font-family: "Acme", sans-serif;
    --font-montserrat:"Montserrat", sans-serif;
    --font-handlee:font-family: "Handlee", cursive;
}

* {
    margin: 0;
    padding: 0;
}


body {
    background-image: url(../images/bg-space.png);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   background-color: #111;
   color: #CCC;
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: left;
    padding: 4em;
}

#app {
    text-align: center;
}

.buscarCharacter {
    margin-top: 1em;
    padding: 1em;
    border-radius: 1em;
    font-family: var(--font-acme);
}

.buttonCharacters {
    border-radius: .5em;
    padding: .8em;
    font-family: var(--font-acme);
}

.characters {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

div span {
    padding: .5em 1em;
    border-radius: 2em;
    margin-top: .5em;
}

.item p {
    font-weight: 600;
    font-family: var(--font-montserrat);
}

.like {
    color: #FD4;
    cursor: pointer;
}

.delete {
    cursor: pointer;
    color: #F65;
}


#app h1 {
    color: #f6f6f6;
    font-family: var(--font-montserrat);
}

#app img {
    width: 60%;
    border-radius: 20%;
    border: 5px #111 solid;
}

footer {
    text-align: center;
    padding: 1rem;
    font-size: 1rem;
}

input {
    font-family: var(--font-handlee);
}


button {
   background-color: #FD4;
   color: #111;
   font-size: 1rem;
   /* border: none; */
   font-family: var(--font-handlee);
}