@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}


body {
    background-image: url(../images/bg-space.png);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   background-color: #111;
   color: #CCC;
}


.buscarCharacter {
    margin-top: 1em;
    padding: .4em;
    border-radius: 1em;
}

.buttonCharacters {
    border-radius: .5em;
    padding: .4em;
}

#app {
    text-align: center;
}

.characters {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

.characters__like {
    padding: .5em 1em;
    border-radius: 2em;
    margin-top: .5em;
}


#app h2 {
    padding: 2rem;
    background-color: #000000;
    color: #f6f6f6;
    font-family: 'Courier New', Courier, monospace;
}

#app img {
    width: 60%;
    border-radius: 20%;
    border: 5px #111 solid;
}

footer {
    text-align: center;
    padding: 1rem;
    font-size: 1rem;
    position: fixed;
}


button {
   background-color: #FD4;
   color: #111;
   font-size: 1rem;
   /* border: none; */
}